body {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.first-container {
  position: relative;
  background: url("https://zimiorganics.com/blog/images/3.jpg?fbclid=IwAR2aMZ3YW0Ur6Ee6Tup97_PT-sPAfdav--Dlw4uKmCQLnizG2_8kdH8MJZM");
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
p{
  text-align: center;
}

.sub_button {
    border: none;
    background: red;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
    text-decoration: none;
}
main {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  padding-top: 100px;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  height: 300px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  line-height: 1.3;
}
.column h2 {
  font-size: 48px;
  margin: 0 0 10px;
  line-height: 1.2;
}
.column1 h2 {
  font-size: 48px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
  
}
.column2 h2 {
  font-size: 48px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
}
.column0 h2 {
  font-size: 48px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
}
.column4 h2 {
  font-size: 48px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
}
h2 {
  text-align: center;
  font-size: 48px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
}
h3{
  text-align: center;
  background: palegreen;
}
.column p {
  font-size: 20px;
}
.column1 {
  padding: 10px 0;
}
.column1 p {
  line-height: 1.5;
  font-size: 25px;
}
.ca-button {
  color: white;
  border: 1px solid paleturquoise;
  background: transparent;
  padding: 10px 20px;
  transition: border-color 0.3s ease;
}
.ca-button:hover {
  border-color: plum;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.card {
  padding: 5px;
  margin-top: 20px;
}
.second-container {
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

.grid-item {
  height: 100px;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.col img{
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
section article ol{
  padding:10px;
}

footer {
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: rgb(5, 121, 14);
  padding: 10px;
  text-decoration: solid;
  color: aliceblue;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
}
.footercontainer {
  width: 100%;
  padding: 20px 30px 20px;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.footercontainer a {
  padding: 15px;
  background-color: white;
  margin: 5px;
  border-radius: 10%;
}
.footercontainer a i {
  font-size: 2.5em;
  color: black;
  opacity: 0.9;
}
.footercontainer a:hover {
  background-color: rgb(5, 121, 14);
  transition: 0.5s;
}
.footercontainer a:hover i {
  color: white;
  transition: 0.5s;
}
.footermedia {
  margin-top: 50px;
  color: rgb(5, 121, 14);
  text-align: center;
  font-size: 3em;
}
.about {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.about1 p{
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
}


@media screen and (max-width: 1200px)
{
  .column p {
  font-size: 15px;
}
.card {
  padding: 5px;
  margin-top: 20px;
}
.card iframe{
  width: 600px;
  margin-top: 20px;
}
.col iframe{
  width: 500px;
  margin-top: 10px;
}
.column0 h2 {
  font-size: 30px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
}
.column1 h2 {
  font-size: 30px;
  margin: 0 0 10px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
  
}
.column2 h2 {
  font-size: 30px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
}
.column0 h2 {
  font-size: 30px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
}
.column4 h2 {
  font-size: 30px;
  line-height: 1.2;
  color: rgb(5, 121, 14);
}
.column h2 {
  font-size: 30px;
  line-height: 1.2;
}
  }

@media screen and (max-width: 575px)
{
 .column p {
  font-size: 10px;
}
.card {
  padding: 5px;
  margin-top: 20px;
}
.card iframe{
  width: 100%;
  height: 300px;
  margin-top: 10px;
}
.col iframe{
  width: 100%;
  margin-top: 10px;
}
.column0 h2 {
  font-size: 20px;
  margin: 0 0 10px;
  line-height: 1;
  color: rgb(5, 121, 14);
}
.column1 h2 {
  font-size: 20px;
  margin: 0 0 10px;
  line-height: 1;
  color: rgb(5, 121, 14);
  
}
.column2 h2 {
  font-size: 20px;
  line-height: 1;
  color: rgb(5, 121, 14);
}
.column0 h2 {
  font-size: 20px;
  line-height: 1;
  color: rgb(5, 121, 14);
}
.column4 h2 {
  font-size: 20px;
  line-height: 1;
  color: rgb(5, 121, 14);
}
.column h2 {
  font-size: 20px;
  line-height: 1;
}
  } 